@inherits ReportTemplateBase<ReportModel>

<h2>Analyzed assemblies</h2>
<ul>
    @foreach (var assembly in Model.Configuration.AssembliesToAnalyze)
    {
        <li>@assembly</li>
    }
</ul>

<h2>Convention assemblies</h2>
<ul>
    @foreach (var assembly in Model.Configuration.ConventionAssemblies)
    {
        <li>@assembly</li>
    }
</ul>

<h2>Extension assemblies</h2>
<ul>
    @foreach (var assembly in Model.Extensions)
    {
        <li>@assembly.Name</li>
    }
</ul>

<h2>Disabled rules</h2>
<ul>
    @foreach (var rule in Model.Configuration.DisabledRules)
    {
        <li>@rule</li>
    }
</ul>