@using System.Linq
@using CodeModel.Rules
@inherits ReportTemplateBase<GraphVerificationResult>

<div>
    Violations count: @Model.ViolationsCount
</div>

@if (Model.AnyViolations)
{
    <h4>Violations</h4>
    <ul>
        @foreach (var violation in Model.Violations)
        {
            <li><span class="violation-name">@violation.Name</span></li>
        }
    </ul>
}