@inherits ReportTemplateBase<ReportModel>

<!DOCTYPE html>

<html>
<head>
    <title>Analysis result</title>
</head>
<body>
<h1>Configuration</h1>
@Helper.Partial("_Config", Model.Configuration)

<h1>Model building</h1>
@Helper.Partial("_ModelBuilding", Model)
</body>
</html>